h1{
    text-align: center;
    color:purple;
    background-color: rgb(248, 188, 160);
    font-size:70px;
    text-decoration:pu double underline;
}
image{
    text-align: center;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(250, 143, 196);
    width:fit-content;
    font-size: 30px;
    color:aliceblue;
}
h3{
   font-family:cursive;
   background-color:rgb(245, 211, 211);
   font-size: 30px;
   color: chocolate;
}
p{
    font-family:Georgia,Helvetica, sans-serif;
    font-size: 27px;
    text-align: justify;
}
button{
    font-family:Verdana, Geneva, Tahoma;
    color: rgb(203, 20, 20);
    background-color: rgb(249, 225, 190);
    font-size: 25px;
}
label{
    background-color: rgb(192, 247, 244);
    color: darkblue;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma;
}
div{
    font-family:cursive;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
a{
    font-family:Arial;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}